h1= title
p #{penjelasan}
p Sebagai informasi, waktu kecepatan akses adalah #{waktu}
p Seharusnya, kecepatan akses adalah kurang dari 1 detik agar bisa dikatakan cukup responsif.
br
br
br
br
small apps kecil ini digunakan untuk mengecek apakah secara global academic.ui.ac.id bisa diakses atau tidak. Pembuat dari aplikasi ini sama sekali tidak masuk ke dalam sistem UI. Ini murni hanya mengecek dari komputer di daerah lain. Salam :)
p
  b Ditemukan masalah (10.15 GMT+7, 10 Agu 2012): IRS yang sudah disave tidak dapat dirubah lagi (Fasilkom).